.navbar-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--background-accent);
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  z-index: 2;
}

.navbar-active {
  transform: translateX(0);
}

.nav-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 72px;
}

.nav-list li {
  transition: 0.2s ease-in;
}

.nav-list li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.hamburger {
  position: fixed;
  right: 5%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;
}

.hamburger-lines {
  height: 4px;
  margin: 4px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  transition: 0.2s ease-in;
}

.hamburger-1 {
  width: 50px;
}
.hamburger-2 {
  width: 35px;
}
.hamburger-3 {
  width: 20px;
}

.hamburger:hover .hamburger-lines {
  /* transform: skewX(10deg); */
  transform: scaleX(1.1);
  background-color: var(--primary-color);
}

.nav-list li:hover {
  transform: scale(1.1);
}
.nav-list li a:hover {
  color: var(--primary-color);
}

@media (max-width: 500px) {
  .hamburger {
    top: 5%;
  }
  .hamburger-lines {
    height: 3.5px;
    margin: 4px;
  }
  .hamburger-1 {
    width: 40px;
  }
  .hamburger-2 {
    width: 30px;
  }
  .hamburger-3 {
    width: 20px;
  }
  .nav-list {
    font-size: 6vw;
  }
}
