.about-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.color-change {
  color: #04a777;
}

.about-h1 {
  font-family: raleway;
  font-size: 3vw;
  text-align: center;
}

.about-details {
  margin-top: 45px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-details-text {
  max-width: 40vw;
  margin-right: 15vw;
}
.about-details h2 {
  font-size: 2.5vw;
}

.about-details p {
  font-size: 1.5vw;
  text-align: justify;
}

.about-details img {
  max-width: 30vw;
  border-radius: 10px;
}
.btn-download-cv {
  width: 12vw !important;
  padding: 1vw 1vw !important;
  margin-left: 10vw !important;
  margin-top: 2vw;
}

.btn-download-cv a {
  text-decoration: none !important;
  color: inherit;
}

.my-services {
  margin-top: 5vw;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  margin-top: 2vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services-box {
  background-color: #202020;
  width: 30vw;
  height: 30vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-in;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #04a777;
  border-radius: 30px;
  width: 8vw;
  margin-top: 2vw;
  height: 8vw;
}

.services img {
  max-height: 5vw;
  width: auto;
}

.services h2 {
  margin-top: 3vw;
  font-size: 2.5vw;
}

.services p {
  font-size: 1.5vw;
  text-align: center;
  max-width: 25vw;
  opacity: 0.8;
}

.services-box:hover {
  background-color: #04a777;
}

.skills {
  margin-top: 5vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skill-bars {
  margin: 2vh;
  padding: 25px 30px;
  width: 40vw;

  border-radius: 10px;
}
#skill-bars #bar {
  margin: 20px 0;
}
#skill-bars #bar:first-child {
  margin-top: 0px;
}
#skill-bars #bar #info {
  margin-bottom: 5px;
}
#skill-bars #bar #info .span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
#skill-bars #bar #progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
#bar #progress-line .span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #04a777;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
#bar #progress-line.html .span {
  width: 90%;
}
#bar #progress-line.css .span {
  width: 80%;
}
#bar #progress-line.javascript .span {
  width: 70%;
}
#bar #progress-line.cpp .span {
  width: 70%;
}
#bar #progress-line.react .span {
  width: 80%;
}
#bar #progress-line.python .span {
  width: 60%;
}
#progress-line .span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
#progress-line .span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
#progress-line.html .span::after {
  content: "90%";
}
#progress-line.css .span::after {
  content: "80%";
}
#progress-line.javascript .span::after {
  content: "70%";
}
#progress-line.cpp .span::after {
  content: "70%";
}
#progress-line.react .span::after {
  content: "80%";
}
#progress-line.python .span::after {
  content: "60%";
}

/* @media (max-width: 1200px) {
} */

@media (max-width: 1200px) {
  .about-h1 {
    font-size: 6vw;
  }
  .about-details {
    flex-direction: column;
    justify-items: center;
  }
  .about-details-text {
    max-width: 80vw;
    margin: 0;
  }
  .about-details h2 {
    font-size: 4vw;
    text-align: justify;
  }
  .about-details p {
    font-size: 2vw;
  }
  .about-details img {
    margin-top: 5vw;
    max-width: 60vw;
  }
  .services {
    width: 60vw;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .services-box {
    width: 60vw;
    height: 60vw;
    margin: 5vw;
    justify-content: center;
  }
  .icon-box {
    width: 16vw;
    height: 16vw;
    border-radius: 10px;
  }
  .services img {
    max-height: 10vw;
  }
  .services h2 {
    font-size: 4vw;
  }
  .services p {
    max-width: 50vw;
    font-size: 3vw;
  }
  #skill-bars {
    width: 80vw;
  }
  .btn-download-cv {
    width: 20vw !important;
    padding: 1.5vw 1.5vw !important;
    margin-left: 10vw !important;
    margin-top: 2vw;
    font-size: 2vw !important;
    /* font-weight: normal !important; */
    margin-left: 35% !important;
  }
}

@media (max-width: 500px) {
  .about-h1 {
    font-size: 8vw;
  }
  .about-details h2 {
    font-size: 6vw;
  }
  .about-details p {
    font-size: 4vw;
  }

  .services h2 {
    font-size: 5vw;
  }
  .btn-download-cv {
    width: 24vw !important;
    padding: 2vw 2vw !important;
    font-size: 2.5vw !important;
    /* font-weight: normal !important; */
    margin-left: 35% !important;
  }
}
