.color-box {
  z-index: 10;
  position: absolute;
  right: 4vw;
  top: 50%;
  translate: 0 -50%;
  width: 6vw;
  height: auto;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  scale: 1 0;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.enter-animation {
  animation-name: box-size-increase;
}
.leaving-animation {
  animation-name: box-size-decrease;
}

@keyframes box-size-increase {
  0% {
    scale: 1 0;
    display: block;
    z-index: -1;
  }
  100% {
    scale: 1;
  }
}
@keyframes box-size-decrease {
  100% {
    scale: 1 0;
  }
  0% {
    scale: 1;
    display: none;
    z-index: -1;
  }
}

.color-box p {
  font-size: 0.8rem;
  color: var(--primary-color);
  text-align: center;
  transition: 0.3s ease-in;
}

.color-box div {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
}

.color-box li {
  /* padding: 5px; */
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  cursor: pointer;
  /* background-color; */
  list-style: none;
  /* margin: 10px; */
}

.color-box :not(:last-child) {
  margin-bottom: 5px;
}

.default {
  background-color: #04a777;
}

.pink {
  background-color: #c70039;
}

.blue {
  background-color: #00909e;
}

.purple {
  background-color: #ef8354;
}

.black {
  background-color: #171717;
}
.white {
  background-color: #fff;
}
.light {
  background-color: #dee4ef;
}
.dark {
  background-color: #37474f;
}

.setting-icon {
  animation-name: rotate-scale-up;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 5;
  cursor: pointer;
}

.color-selection-tab-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  list-style: none;
  width: 20rem;
  height: 4rem;
  /* background-color: #111111; */
  background-color: var(--background-accent-2);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.color-selection-tab-scroll {
  transition: 0.4s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  list-style: none;
  background-color: var(--background-accent-2);
  width: 0rem;
  height: 5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0%;
  /* animation: color_box_move;
  animation-duration: 1s; */
}

.color-selection-tab-scroll li {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  /* cursor: pointer; */
  position: relative;
}

.color-selection-tab-bottom li {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.color-selection-tab-bottom div {
  border-radius: 50%;
  /* border: transparent 0px solid; */
  border: transparent 2px solid;
}

.selected-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  /* border: var(--primary-color) 2px solid !important; */
  transition: 0.2s ease-in;
  position: relative;
} 

.selected-color::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 0.4rem);
  height: calc(100% + 0.4rem);
  border: var(--primary-color) 2px solid;
  transition: 0.2s ease-in;
  border-radius: 50%;
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@media (max-width: 1200px) {
  .color-box {
    right: 8vw;
    width: 12vw;
  }
  .color-box p {
    font-size: 1rem;
  }
  .color-box li {
    width: 3vw;
    height: 3vw;
  }
  .color-selection-tab-bottom {
    width: 30vw;
  }
}

@media (max-width: 800px) {
  .color-selection-tab-bottom {
    height: 3rem;
  }
  .color-selection-tab-bottom li, .selected-color {
    width: 1.5rem;
    height: 1.5rem;
  }
  /* .selected-color {
    width: 1.9rem;
    height: 1.9rem;
  } */
}

@media (max-width: 600px) {
  .color-box {
    right: 10vw;
    width: 24vw;
  }
  .color-box p {
    font-size: 0.9rem;
  }
  .color-box li {
    width: 7vw;
    height: 7vw;
  }
  .color-selection-tab-bottom {
    width: 50vw;
  }
  .color-selection-tab-bottom li, .selected-color {
    width: 1.2rem;
    height: 1.2rem;
  }
  /* .selected-color {
    width: 1.52rem;
    height: 1.52rem;
  } */
}
