.color-box {
  z-index: 1000;
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 6vw;
  height: auto;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.color-box p {
   font-size: 0.8rem;
   color: var(--primary-color);
   text-align: center;
}

.color-box div{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
}

.color-box li {
  /* padding: 5px; */
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  cursor: pointer;
  /* background-color; */
  list-style: none;
  /* margin: 10px; */
}

.color-box :not(:last-child) {
  margin-bottom: 5px;
}

.default {
  background-color: #04a777;
}

.pink {
  background-color: #c70039;
}

.blue {
  background-color: #00909e;
}

.purple {
  background-color: #481380;
}

.black {
  background-color: #171717;
}
.white{
  background-color: #fff;
}
.light{
  background-color: #dee4ef;
}
.dark{
  background-color: #37474f;
}

@media (max-width: 1200px){
  .color-box{
    right: 8vw;
    width: 12vw;
  }
  .color-box p{
    font-size: 1rem;
  }
  .color-box li{
    width: 3vw;
    height: 3vw;
  }
}
@media (max-width: 600px){
  .color-box{
    right: 10vw;
    width: 24vw;
  }
  .color-box p{
    font-size: 0.9rem;
  }
  .color-box li{
    width: 7vw;
    height: 7vw;
  }
}
