@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: Poppins;
  margin: 0;
  padding: 0;
  transition: 0.3 ease-in;
}

body::-webkit-scrollbar {
  width: 10px;      
  margin-right: 10px;         /* width of the entire scrollbar */
}

/* body::-webkit-scrollbar-track { */
  /* background: orange;       color of the tracking area  */
/* } */

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
  border-radius: 20px;  
}

html,
body {
  overflow-x: hidden !important;
}

html {
  --primary-color: #04a777;
}
html[theme-color="default"] {
  --primary-color: #04a777;
}
html[theme-color="pink"] {
  --primary-color: #c70039;
}
html[theme-color="blue"] {
  --primary-color: #00909e;
}
html[theme-color="purple"] {
  --primary-color: #481380;
}
html[background-color="black"] {
  --background-color: #171717;
  --background-accent: #202020;
  --background-accent-2: #111111;
  --secondary-color: white;
}
html[background-color="white"] {
  --background-color: #fff;
  --background-accent: #eee;
  --background-accent-2: #eee;
  --secondary-color: #171717;
}
html[background-color="light"] {
  --background-color: #dee4e7;
  --background-accent: #c7d6dd;
  --background-accent-2: #c7d6dd;
  --secondary-color: #171717;
}
html[background-color="dark"] {
  --background-color: #37474f;
  --background-accent: #2d3f47;
  --background-accent-2: #2d3f47;
  --secondary-color: white;
}


/* body {
  margin: 0;
  height: 100vh;
  cursor: none;
  background: rgb(27, 27, 27);
} */

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

span {
  color: var(--primary-color);
  /* transition: 0.3s ease-in; */
}

.color-change {
  color: var(--primary-color);
  /* transition: 0.3s ease-in; */
}

.name-container {
  cursor: pointer;
  font-size: 4vw;
  font-weight: 800;
  user-select: none;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1.8s;
  /* text-indent: 0.1vw; */
}

.first-name {
  margin-right: 1vw;
  color: var(--primary-color);
  transition: 0.1s ease-in;
}

.name-container,
.first-name,
.last-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.hover-name-container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.name-letter {
  transition: 0.1s ease;
}

.name-letter:hover {
  transform: scale(1.15);
}

.home-discription {
  margin-top: 10px;
  font-size: 2vw;
  height: 50px;
  font-family: Raleway;
  user-select: none;
  font-style: normal;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--primary-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  transition: 0.3s ease-in;
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-delay: 1.5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--primary-color); }
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 5%;
  transition: 0.2s ease;
  transform: translateY(-50%);
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
}

.social-media-icons-scroll {
  left: 2%;
}

.social-media-icons svg,
.message-icons svg {
  margin: 5px;
  color: whitesmoke;
  opacity: 0.8;
  transition: 0.2s ease;
}

.social-media-icons svg:hover,
.message-icons svg:hover {
  opacity: 1;
  transform: scale(1.2);
}

.social-media-icons a,
.message-icons a {
  outline: none;
}

.message-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  right: 5%;
  transition: 0.5s ease;
  transform: translateY(-50%);
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
}

.message-icons-scroll {
  right: 2%;
}

.setting-text{
  position: absolute;
  right: 140%;
  top: -190%;
  text-align: right;
  opacity: 60%;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.color-setting-container {
  position: relative;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .name-container {
    font-size: 6vw;
  }
  .home-discription {
    font-size: 3vw;
  }
  .message-icons {
    animation: none;
    transform: translateX(0);
  }
  .social-media-icons {
    animation: none;
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  .name-container {
    font-size: 8vw;
  }
  .home-container {
    max-height: 100vh;
  }
  .home-discription {
    font-size: 5vw;
  }

  .social-media-icons svg {
    pointer-events: none;
    font-size: 1rem !important;
  }
  .message-icons svg {
    pointer-events: none;
    font-size: 1.5rem !important;
  }
  .social-media-icons-scroll{
    right: 2.5%;
  }
  .message-icons-scroll{
    right: 2.5%;
  }
}

/* @media (max-width: 480px) {
  .name-container {
    font-size: 8vw;
  }
  .home-discription {
    font-size: 4vw;
  }
} */

/* @media (max-width: 480px){}
@media (min-width: 480px){}
@media (min-width: 800px){} */
/* @media (max-width: 1200px){}
@media (max-width: 400px){} */
