.contact-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  color: whitesmoke;
}

.contact-deatils {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-me {
  font-family: raleway;
  font-size: 3vw;
}

.contact-form {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.contact-form h3,
.contact-deatils h3 {
  font-size: 1.5vw;
}

.contact-form input,
.contact-form textarea {
  min-width: 30vw;
  max-width: 30vw;
  height: auto;
  max-height: 15vh;
  min-height: 4vh;
  padding: 1vw;
  background-color: black;
  border-radius: 10px;
  border: none;
  margin-bottom: 25px;
  font-family: Poppins;
  /* font-weight: bold; */
  font-size: 1.2vw;
  color: whitesmoke;
}

.contact-form button {
  background-color: #04a777;
  width: 8vw;
  padding: 0.5vw 1vw;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.2vw;
  border-radius: 10px;
  color: whitesmoke;
}

::placeholder {
  color: whitesmoke;
}

.contact-info {
  min-width: 30vw;
  height: auto;
  border-radius: 20px;
  background-color: #04a777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-cards {
  display: grid;
  grid-template-rows: 2vw 2vw;
  grid-template-columns: 5vw 12vw;
  align-items: center;
  justify-items: start;
  margin-bottom: 25px;
}
.info-cards svg {
  font-size: 4vw;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.info-cards p {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1vw;
}

.info-cards h4 {
  font-size: 1.2vw;
}

.contact-form input:focus {
  border: #04a777 solid;
  border-width: thin;
  outline: none;
}

.contact-form textarea:focus {
  border: #04a777 solid;
  border-width: thin;
  outline: none;
}
.contact-form button:focus {
  border: #04a777 solid;
  border-width: thin;
  outline: none;
}

.contact-form button:hover {
  background-color: #049b6d;
}

@media (max-width: 1200px) {
  .contact-me {
    font-size: 6vw;
    margin-bottom: 80px;
  }
  .contact-deatils {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    width: 80vw;
  }
  .contact-form h3,
  .contact-deatils h3 {
    font-size: 4vw;
  }
  .contact-form input,
  .contact-form textarea {
    min-width: 80vw;
    font-size: 2vw;
    border-radius: 5px;
  }
  .contact-form button {
    width: auto;
    padding: 1.5vw 3vw;
    font-size: 2vw;
    border-radius: 5px;
  }
  .contact-info {
    margin-top: 25px;
    min-width: 80vw;
    height: 30vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-gap: 15px;
    grid-column-gap: 15vw;
    justify-items: center;
    align-content: center;
    margin-bottom: 80px;
  }
  .info-cards {
    margin: 0%;
    grid-template-rows: 4vw 4vw;
    grid-template-columns: 8vw 24vw;
  }
  .info-cards svg {
    font-size: 6vw;
  }

  .info-cards p {
    font-size: 2vw;
  }

  .info-cards h4 {
    font-size: 2vw;
  }
}

@media (max-width: 500px) {
  .contact-me {
    font-size: 8vw;
  }

  .contact-form h3,
  .contact-deatils h3 {
    font-size: 6vw;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 3vw;
  }
  .contact-form button {
    padding: 2vw 4vw;
    font-size: 3vw;
  }
  .contact-info {
    grid-template-columns: 20vw 20vw;
    grid-gap: 20px;
    grid-column-gap: 15vw;
  }
  .info-cards {
    grid-template-rows: 4vw 4vw;
    grid-template-columns: 10vw 24vw;
  }
  .info-cards svg {
    font-size: 8vw;
  }

  .info-cards p {
    font-size: 2vw;
  }

  .info-cards h4 {
    font-size: 2.4vw;
  }
}
